
<div id="título">Login</div>

<div id="links">
  <a href=jawbone>
    Jawbone
  </a>
  <p>
    TEMPERATURA ATUAL EM PORTO ALEGRE(K):
  </p>
  <p id="clima">
  </p>
</div>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "http://api.openweathermap.org/data/2.5/find?q=porto%20alegre&APPID=c202fefe29158aebc3cd656900708e87";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        
         document.getElementById("clima").innerHTML = myArr['list'][0]['main']['temp']
    }
};

function getTemperature(){
    xmlhttp.open("GET", url, true)
    console.log('oi')
    xmlhttp.send();
}
//xmlhttp.open("GET", url, true);
//xmlhttp.send();
setInterval(getTemperature,60000*15);//pega de 15 em 15 minutos

</script>